:root{
    --link:#007fff;
    --pink:#FF6699;
    --text2: #61666d;
    --icon: #9499a0;
}


*{
    box-sizing: border-box;

}

.a-link{
    text-decoration: none;
    color: var(--link);
    cursor: pointer;
}

.el-form-item{
    align-items: center;
}

.container-body{
    margin: 0px auto;
    margin-top: 10px;
}

body {
    padding:0px;
    margin:0px;
    background: rgb(243,243,243);
}

.tag{
    font-size: 12px;
    border-radius: 3px;
    padding: 0px 5px;
    margin-right: 5px;
    font-weight: normal;
}

.tag-no-audit{
    color: var(--text2);
    border: 1px solid var(--text2);
}